.card {
  text-align: center;
  background-color: white;
  width: 300px;
  padding: 1rem 0;
  border: solid 2px black;
  border-radius: 10px;

  cursor: pointer;
  transition: all 150ms ease-in;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgb(12, 88, 44);
}

.card:hover .links {
  color: rgb(18, 67, 175);
}

h2 {
  font-size: 1rem;
}
